<section>
    <div class="container mt-5" style="display: grid; text-align: center;">
        <h3>Your order has been placed successfully!</h3>
        <h5>Order ID: {{orderId}}</h5>
        <p>Thank you for shopping with us.</p>
        <a href="/orders" class="btn btn-primary m-auto">Go To My Orders</a>
    </div>
</section>
<style>
    body{
        background: rgb(158, 210, 255);
    }
</style>